@import url('https://fonts.googleapis.com/css?family=Nunito');

:root
{
    --fondo2: #130f40;
    --principal: #4834d4;
    --secundario: #eb4d4b;
    --font: #dff9fb;
    --font2: #535c68;
    --rojo: #ff7979;
    --verde: #badc58;
    --delay: 0s;
}

body 
{
    margin: 0;
    font-family: 'Nunito';
    color: var(--fondo2);
    background-color: var(--font);
}