@import url('https://fonts.googleapis.com/css?family=Nunito');

:root
{
    --fondo2: #130f40;
    --principal: #4834d4;
    --secundario: #eb4d4b;
    --font: #dff9fb;
    --font2: #535c68;
    --rojo: #ff7979;
    --verde: #badc58;
    --delay: 0s;
}

body 
{
    margin: 0;
    font-family: 'Nunito';
    color: var(--fondo2);
    /* background-color: var(--font); */
    background: url('https://image.freepik.com/vector-gratis/vector-fondo-patron-geometrico-blanco_53876-126684.jpg');
    /* background-size: cover;
    background-position: center;*/
    width: 100%;
    height: 100vh; 
}

.container-app
{
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.container-sistema
{
    padding: 0 5%;
    padding-bottom: 5%;
    height: calc(50vh - 34px);
    text-align: center;
}

.container-proyectos
{
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-info-sistem
{
    /* display: none; */
    position: absolute;
    color: white;
    display: flex;
    background-color: #130f40cf;
}

.container-header-habilidades
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 60px;

}

.container-header-habilidades img
{
    width: 140px;
}

.container-body-habilidades
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30% 10%;

}

.container-logo-leng
{
    width: 100%;
    display: flex;
    justify-content: center;
}

h2
{
    font-size: 40px;
    color: var(--principal);
}

h3
{
    color: var(--font);
}

.num-1
{
    border-top-left-radius: 5px;
    background-color: #686de0;
}

.num-2
{
    border-top-right-radius: 5px;
    background-color: #30336b;
}

.num-3
{
    border-bottom-left-radius: 5px;
    background-color: #4834d4;
}

.num-4
{
    border-bottom-right-radius: 5px;
    background-color: #130f40;
}

p
{
    font-size: 22px;
    margin-top: 60px;
}

.img-sist
{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #161616bf;
}

.img-sist-app
{
    max-height: 375px;  
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #161616bf;
}

.img-mi-foto
{
    border-radius: 50%;
    border: 7px solid var(--principal);
    position: absolute;
}

.img-logo-leng
{
    width: 100px;
}

.btn-mas-info-sist
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}